*{
    margin: 0;
    height: 100%;
}
:root{
    --color-principal:cyan;
}
::placeholder{
    color: black;
}
body{
    display: block;
    background-color: black;
}
/* Header */
header{
    position: relative;
    height: auto;
    display: flex;
    background-color: brown; /*se o browser nao suportar o gradiend*/
    background-image: linear-gradient(to left,black,cyan);
    align-items: center;
    justify-content: space-around;
}
#text_inicial{
    display: inline-block;
    position: relative;
    color: white;
}
#content_rede{
    display: flex;
    width: 100px;
    justify-content: space-between;
}
.social{
    display: flex;
    width: 20px;
    background-color: white;
    height: 20px;
    justify-content: center;
}
#git_nav{
    background-image: url("./img/githubnavfundo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*End of Header */
/*Footer */
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
}
footer #final{
    display: flex;
    flex-direction: row;
    color: var(--color-principal);
    justify-content:space-between;
    width: 20%;
    font-family: 'Courier New', Courier, monospace;
}
/*End of Footer*/
/*Main*/
body,main{
    background-color: black;
    background-image: linear-gradient(to bottom,black,cyan);
}
#content_explica{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}
#content_explica div{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: var(--color-principal);
    padding: 15px;
    width: 308px;
    font-family: 'Courier New', Courier, monospace;
}
@keyframes mudarCor{
    0%{color: white;}
    50%{color:cyan;}
    100%{color:darkmagenta;}
}
#content_explica h1{
    animation-name: mudarCor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#content_explica div h1{
    align-self: center;
}
@keyframes codigonumero0{
    0%{color: white}
    100%{color: red}
}
#content_explica #segredocodigo #codigonumb0{
    animation-name: codigonumero0;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes codigonumero1{
    0%{color: white}
    100%{color: yellow}
}
#content_explica #segredocodigo #codigonumb1{
    animation-name: codigonumero1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes codigonumero2{
    0%{color: white}
    100%{color: purple}
}
#content_explica #segredocodigo #codigonumb2{
    animation-name: codigonumero2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.content_mostrar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.content_mostrar #senha_mostrar{
    color: white;
}
#content_senha{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}
#content_senha #senha{
    height:20px;
}
#content_senha #senha_button{
    height: 20px;
    margin-left: 5px;
    align-self: flex-end;
}
#content_color{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
}
#content_cima{
    height: auto;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}
#content_center .squad{   
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    color: white;
    background-color: black;
    border:3px solid var(--color-principal);
    width: 120px;
    height: 50px;
}
#press{
    display: block;
    height: 30px;
    width: 80px;
    grid-column: 2;
    align-self: baseline;
    justify-self: end;
}
#pressi{
    display: block;
    height: 30px;
    width: 80px;
    grid-column: 4;
}
#content_senha_cor{
    display: flex;
    height: auto;
    width: 60%;
    border-style: solid;
    border-color: var(--color-principal);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: black;
}
#content_center{
    height: 40%;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2%;
    grid-row-gap: 20px;
}
/*Main end*/